.header{
color: white;
display: flex;
justify-content: space-between;
align-items: center;
padding: 24px 48px 24px 48px;


}

.banner1{
    box-sizing: border-box;
    width: auto;
    height: 360px;
    background-color: #1F2937; 
}

.under-header{
    display: flex;
    padding: 24px 48px 24px 48px;
}
.under-header > *{
    flex-basis: 100%;
}
.header-left{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    
}

.text1{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    padding: 0;
}

.text2{
    font-size: 18px;
    color: #E5E7EB;
}

.banner2{
    box-sizing: border-box;
    background-color: white;
    width: auto;
    height: 360px;
    padding: 24px 48px 24px 48px;
}

.title{
    padding: 24px;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.container{
    display: flex;
    gap: 8px;
    justify-content: space-around;
}

.panels{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.placeholder{
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    background-color: grey;
    border-color: #3882F6;
    text-align: center;
    margin: auto;
    
}

.banner-3{
    box-sizing: border-box;
    width: auto;
    height: 300px;
    padding: 24px 48px 24px 48px;
    background-color: #E5E7EB;
}
.container-2{
    display: flex;
    flex-direction: column;
}
.container-2 > *{
    flex-basis: 100%;
}
.quote{
    padding: 24px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 400;
}

.quote-person{
    text-align: right;
    font-size: 36px;
    padding: 24px;
    color: #1F2937;
    font-weight: 700;
}

.banner-4 {
    box-sizing: border-box;
    width: auto;
    height: 150px;
    padding: 24px 48px 24px 48px;
    background-color: white;
}

.container-3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-banner{
    display: flex;
    flex-grow: 1;
    color: white;
    background-color: #3882F6;
    max-width: 1800px;
    max-height: 600px;
    min-height: max-content;
    padding: 24px;
    justify-content: space-between;
    border-radius: 12px;
    margin-left: 300px;
    margin-right: 300px;    
}

.footer{
    display: flex;
    flex-grow: 1;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 40px;
}

button {
    transition-duration: 0.4s;
    color: white;
    font-size: 16px;
    padding: 8px 24px;
    background-color: #3882F6;
    border-color: white;
    border-radius: 12px;
  }
  
button:hover {
    background-color: white;
    color: blue;
    border-color: white;
    border-radius: 12px;

  }

.header-right{
    display: flex;
    color: white;
    background-color: grey;
    justify-content: center;
    align-items: center;
}


a, a:hover, a:active, a:visited {
     color: white;
     text-decoration: none;

}
ul{
    list-style-type: none;
    
}

li{
    display: inline;
}